<ul class="center">
  <li>Followers - <%= @github_service.followers.count %></li>
  <li>Following - <%= @github_service.following.count %></li>
  <li>Starred Repos - <%= @github_service.starred.count %></li>
</ul>
