<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <h3 class="center">Organizations</h3>
    <div class="row valign-wrapper">
      <div class="col s12">
        <table>
          <thead>
            <tr>
                <th data-field="repo-name">Organization</th>
            </tr>
          </thead>

          <tbody>
            <% @github_service.organizations(current_user.screen_name).each do |organization| %>
            <tr>
              <td><%= organization[:login] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
