<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s3">
            <%= image_tag current_user.avatar_url, class: "circle responsive-img" %>
            <ul class="center">
              <li><a href="#">Starred Repos</a> - 1000</li>
              <li><a href="#">Followers</a> - 1000000</li>
              <li><a href="#">Following</a> - 2</li>
              <li><a href="#">Organizations</a></li>
              <li><a href="#">Repos</a></li>
            </ul>
          </div>
          <div class="col s8">
            <table>
              <thead>
                <tr>
                    <th data-field="contributions">Contributions</th>
                    <th data-field="name">Longest Streak</th>
                    <th data-field="price">Current Streak</th>
                    <th data-field="price">Recent Commits</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>1000</td>
                  <td>30 Years</td>
                  <td>30 Years</td>
                  <td>11 <a href="#">Commits</a>, 7 <a href="#">Pull Requests</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
