<div class="section white">
  <div class="row container">
  <div class="section center">
    <header><h1>Welcome to Backhub!</h1><h3><small>No CSS Allowed!</small></h3></header>
  </div>
    <div class="divider"></div>
  <div class="section center">
    <%= image_tag "https://www.cloudyn.com/wp-content/uploads/2014/09/Servers-Server-Farm-Engine-Room1.jpg" %>
  </div>
  </div>
</div>
